@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100,200,300;400;500,600&display=swap');

* {
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

*, *:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

body {
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
//   font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0
}


blockquote, dl, dd, h1, h2, h3, h4, h5, h6, figure, p, pre, fieldset, ul, ol, menu, form {
  margin: 0;
}

button, fieldset, iframe {
  border: 0;
}

fieldset, ul, ol, button, menu {
  padding: 0;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
}

a:hover {
  color: #4b5ba4;
}

a, a:focus, button, button:focus {
  outline: none !important;
  text-decoration: none;
}

a, button {
  user-select: none;
  transition: all .3s ease-in-out;
}

button {
  cursor: pointer;
  background: none;
  box-shadow: none;
  border: none;
}

img {
  max-width: 100%;
}

.custom-container{
  position: relative;
  max-width: 1400px;
  width: 94%;
  margin: 0 auto;
  z-index: 99;
}

//Input placeholder style
::-webkit-input-placeholder { /* Edge */
  color: #444444;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #444444;
}

::placeholder {
  color: #444444;
}


//Sayfa geçişi için efekt
.fade-enter-active {
  transition: all .25s ease-in-out;
  transition-delay: .25s;
}
      
.fade-leave-active {
  transition: all .25s ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-leave-to {
  opacity: 0;
}